* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(22, 177, 224);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(22, 177, 224);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: white;
}

.tiny-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(22, 177, 224);
    border-radius: 20px;
    z-index: 1;
    transition: all 2s;
}

.card:hover {
    .tiny-circle  {
        width: 300px;
        height: 300px;
        z-index: 1;
    }

    .inner-circle {
        z-index: 2;
        border-color: red;
        transition-delay: 2s;
    }
}